body {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 0;
   background-color: lightgray;
}

#content {
   overflow: auto;
   width: 600px;
   height: 400px;
   background-color: white;
   border-radius: 10px;
   box-shadow: 5px 5px 10px gray;
}

.profile {
   display: flex;
   align-items: flex-start;
   justify-content: space-around;
   padding: 10px 0 10px 0;
   border-bottom: 1px solid lightgray;
}

img {
   border: 1px solid lightgray;
   border-radius: 50%;
}

h1 {
   margin: 0 0 5px 0;
}

p {
   margin: 0 0 0 10px;
}
